#navigationMenu li{
background-color: #00FFFF;
width: 100px;
height: 20px;
margin: 0 0 10px 0;
text-align: center;
padding: 10px 10px 10px 10px;
}

#navigationMenu li:hover{
background-color: #008B8B;
color: #D3143C;
}

#navigationMenu{
list-style-type: none;
margin-top: 200px;
}

#productList{
/* width: 100%;
height: 10px; */
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
transform:scale(0.65,0.65);
margin-left: 18px;
/* margin-top: -100px; */
}

.product{
/* height: 200px; */
text-align: center;
font-size: 25px;
margin-bottom: 30px;
margin-right: 7px;
position:relative;
margin-left: 20px;
/* margin-right: 40px; */
/*width: 33%;
display: inline-block; */
/* height: 50px; */
}

.product:hover {
background-color: #A9A9A9;
border: 5px solid #A9A9A9;
}

#mainContent{
display: flex;
margin-top: -100px;
}

img.resize {
width: 220px;
height:220px;
}

img.resize1 {
width: 100px;
height:100px;
}

img.resize2 {
width: 700px;
height:200px;
}

#logo{
margin-left: 60px;
margin-top: 45px;
}

#welcomeBanner{
margin-left: 180px;
}

#header{
display: flex;
justify-content: space-around;
}

#footer{
background-color: #00FFFF;
font-size: 20px;
height: 60px;
margin-top: -100px;
text-align: center;
}

#content{
/* background-color: black; */
margin: 0 auto;
width: 1000px;
}

.hidden{
display:none;
}

.product:hover .hidden{
opacity: 0.5;
display:block;
position: absolute;
bottom:30px;
z-index:1;
background-color: #000000;
width: 220px;
}

.costPosition {
position: absolute;
bottom: 4px;
left: -1px;
color: #FFFFFF;
background-color: #696969;
width: 220px;
font-weight: bold;
height: 31px;
}

img.resizeCart{
position:absolute;
width: 220px;
height:190px;
bottom: 35px;
left: 0px;
background-color: #000000;
}

.addButton{
color: #FFFFFF;
position: absolute;
background-color: #008000;
width: 91px;
height: 34px;
bottom: 84px;
left: 13px;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
cursor: pointer;
}

.removeButton{
color: #FFFFFF;
position: absolute;
background-color: #FF0000;
width: 91px;
height: 34px;
bottom: 84px;
right: 10px;
display: none;
align-items: center;
justify-content: center;
font-size: 18px;
cursor: pointer;
}

img.ShowCart{
width: 50px;
height: 36px;
float: right;
}

.centered {
display: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 40px;
z-index: 3;
color: #8B0000;
}

/* #cartBackground{
background-color: #0000FF;
width: 60px;
height: 43px;
border-radius: 47%;
float: right;
cursor: pointer;
display: inline;
} */

#showCart{
background-color: #ADFF2F;
width: 60px;
height: 43px;
float: right;
cursor: pointer;
display: inline;
}

/* Modal code */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#cartTable {
	margin-left:auto; 
    margin-right:auto;
}

#black {
	background-color: black;
}

#total {
	font-size:20px;
	font-weight:bold;
}

#add {
	color: green;
}

#remove {
	color:red;
}